# dependencies
node_modules/

# production build
dist/
build/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# amplify
amplify/
.amplifyrc
aws-exports.js
amplifyconfiguration.json
